@import "../../components/style/gradient.css";

.ed_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: white;
}

.maincard{
    width: 100%;
}

.dates_container{
    width: 80%;
    margin-bottom: 15vh;
}

.btn{
  background-color: #3B9860;
  color: white;
  text-decoration: none;
  font-size: 36px;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

@media (max-width: 1920px) and (min-width:720px){

  .ed_container{
    background: var(--main-gradient)
  
  }
  .btn{
    border-radius: 10px;
    padding: 10px 130px 10px 130px;
    width:auto ;
    margin-bottom: 2vh;
  }
  .maincard{
    width: 90%;
    margin: 5vh 5vh 0vh 5vh;
   
  }
}

