@import "../../components/style/gradient.css";

.ed_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.maincard{
    width: 100%;
}

.titulo_aux{
  display: none;
}

.dates_container{
    width: 80%;
    margin-bottom: 15vh;
}

.btn{
  background-color: #3B9860;
  color: white;
  text-decoration: none;
  font-size: 7vw;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

@media (max-width: 1920px) and (min-width:720px){

  .ed_container{
    background: var(--main-gradient);
  }
  .btn{
    width: 90%;
    padding: 10px 70px 10px 70px;
    font-size: 2vw;
    margin-bottom: 1vh;
   
  }
  .maincard{
    width: 90%;
    margin: 5vh 5vh 0vh 5vh;
  }

  .titulo_aux{
    display:block;
    margin-top: 3vh;
    font-size: 1.2vw;
    letter-spacing: 2vh;
    font-weight: bolder;
    color: #3B9860;
    width: 90%;
    padding-left: 1vw;
  }
}

