.LoginCard{
    padding: 20px;
}

.LoginCard__title{
    color: #3B9860;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.LoginCard__forgotPassword{
    color: #31AD63;
    font-size: 18px;
    text-decoration: none;
}

.LoginCard__button{
    margin-top: 30px;
}

.LoginCard__lineSeparator{
    display: flex;
    color: #BDBDBD;
    gap: 10px;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 26px;
}

.LoginCard__line{
    width: 100%;
    height: 1px;
}