@import "../../components/style/gradient.css";

.LoginCard{
    padding: 20px;
    background-color: white;
}

.LoginCard__title{
    color: #3B9860;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.LoginCard__forgotPassword{
    color: #31AD63;
    font-size: 18px;
    text-decoration: none;
}

.LoginCard__button{
    margin-top: 30px;
}

.LoginCard__ContainerNoAcount{
    text-align: center;
    margin-top: 70px;
}

.LoginCard__NoAcount{
    font-size: 18px;
    color: #31AD63;
    text-align: center;
    text-decoration: none;
}

@media screen and (min-width: 720px) {
    .desktopContainer {
        padding-left: 20vw;
        padding-right: 20vw;
        padding-top: 10px;
        padding-bottom: 10px;
        background: var(--main-gradient);
    }

    .LoginCard{
        box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.25);
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}