.container__picture {
    height: 22vh;
    width: 30vw;
}

.container__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 3px;
}

.container__text {
    margin-top: 20px;
    margin-bottom: 22px;
    color: #757575;
    font-size: 2.3vh;
    font-weight: 400;
}

@media screen and (min-width: 720px) {
    .container__picture {
        height: 256px;
        width: 213px;
    }
}
