.container_picture {
    height: 256px;
    width: 213px;
}

.container_image {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin-left: 3px;
}

.container_text {
    margin-top: 20px;
    margin-bottom: 22px;
    color: #757575;
    font-size: 13px;
    font-weight: 400;
}

.container_stars {
    display: flex;
    margin-left: 1px;
    list-style: none;
    gap: 8px;
}