.container {
    display: flex;
    gap: 53px;
    margin-left: 37px;
    margin-right: 37px;
}

.topText {
    color: #757575;
    font-size: 18px;
    margin-left: 10%;
}

.container__buttons {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.container__cards {
    margin-top: 32px;
    display: flex;
    overflow-x: auto;
    gap: 28px;
}

.carrouselContainer{
    margin-top: 12px;
    margin-bottom: 12px;
}

@media screen and (min-width: 720px) {
    .container__cards {
        overflow-x: hidden;
    }
    .container__buttons{
        display: block;
    }
    .carrouselContainer{
        margin-top: 52px;
        margin-bottom: 52px;
    }
  }