.descriptionCard{
    background: rgb(76,158,109);
    background: linear-gradient(180deg, rgba(76,158,109,1) 7%, rgba(147,218,175,1) 72%, rgba(255,255,255,1) 100%);
    padding: 5%;
    display: flex;
    height: 45vh;
}

.descriptionCard__img{
    width: 50%;
    object-fit: cover;
}

.descriptionCard__info{
    width: 50%;
    height: 100%;
    background-color: white;
    padding: 16px;
}

.descriptionCard__title{
    font-size: 48px;
}

.descriptionCard__location{
    font-size: 40px;
    color: #78986F;
}

.descriptionCard__description{
    color: #757575;
}