.descriptionCard{
    
    display: flex;
    height: 45vh;
}

.descriptionCard__img{
    width: 50%;
    object-fit: cover;
}

.descriptionCard__info{
    width: 50%;
    height: 100%;
    background-color: white;
    padding: 16px;
}

.descriptionCard__title{
    font-size: 48px;
}

.descriptionCard__location{
    font-size: 40px;
    color: #78986F;
}

.descriptionCard__description{
    color: #757575;
}