.InputContainer{
    display: flex;
    flex-direction: column;
    color: #757575;
    margin-bottom: 14px;
}

.InputContainer__Name{
    gap: 14px;
    display: flex;
    flex-direction: column;
}

.InputContainer__input{
    border: 1px solid #11411C;
    border-radius: 10px;
    background-color: #EBFBF1;
    padding: 20px;
    outline: 0;
}